[Unit]
StopWhenUnneeded=true
Requires=js-ecqm-engine-worker.service
After=js-ecqm-engine-worker.service

[Service]
Environment=APP_PROCESS_INDEX=__PROCESS_INDEX__
ExecStart=/usr/bin/js-ecqm-engine run worker
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=js-ecqm-engine-worker.service
